<table class="racer_table">

  <tr id="player1_strip" data-playa-one="<%= @player1.name %>">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="end"></td>
</tr>
  
  <tr id="player2_strip" data-playa-two="<%= @player2.name %>">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="end"></td>
  </tr>
</table>
