<div id="index">
  <h1>Welcome to the ultimate racing EPXIERENERNCCE!!!111!!</h1>
  <h3>Two players enter...NONE LEAVE. Except for 1.</h3>


  <div id="registration_form">
    <form action='/new_players' method='POST'>
      <label for="Player1">Player1</label>
      <input type="text" name="player1_name" placeholder='name bro!'><br>
      <label for="Player2">Player2</label>
      <input type="text" name="player2_name" placeholder='palyerzzzzzz2!!'>
      <input type='submit' value='THYME2DIE'>
    </form>
  </div>
</div>
